
{% extends 'main/base.html' %}
{% block title %}{{ field }} services{% endblock %}
{% block content %}
<h1>{{ field }} services</h1>
<div class='services_list'>
{% if services %}
  {% for service in services %}
    <div class="service_card">
      <a href="/services/{{service.id}}">{{service.name}}</a> — {{service.price_hour}}€/hour
      <p>by <a href="/company/{{service.company.user}}">{{service.company.user}}</a></p>
    </div>
    <div class="line"></div>
  {% endfor %}
{% else %}
  <h2>None yet.</h2>
{% endif %}
</div>
{% endblock %}
